{% extends 'receipts/base.html' %}

{% block content %}
<main>
    <h1>My Account</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{account.name}}</td>
                        <td>{{account.number}}</td>
                        <td>{{account.receipts.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>

        
    </div>
</main>
{% endblock content %}
